body {
    font-family: 'Sen', sans-serif !important;
    margin:0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 10px;
}

.github-link{
    font-size: 13px;
    padding: 10px;
    display: flex;
    justify-content: center;
    a {
        margin: 0px 10px;
        span {
            margin-left: 5px;
        }
    }
}